<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <h1>Welcome to Game Challenge Season-I</h1>
  </div>
</div>




<div class=" h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="container test-cards">
      <h1 style="font-size:20px; margin-top:15px;">Few Playing Games :
        <a routerLink='/game'>
          <button class="btn btn-primary btn-small">View All
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </button>
        </a>
      </h1>


      <div *ngIf='showLoader'>
        <app-loader></app-loader>
      </div>




      <div class="row">
        <div style="position:absolute; height:100%; overflow:hidden;">
          <!-- <app-loadingbar [status]="loadingbarChild"></app-loadingbar> -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-3" style="margin-top:25px;" *ngFor="let d of data; let i=index">
          <!-- start -->
          <div class="post-module" [@rightleftAnimate]='animateMe(i)' (mouseenter)="animateMe2(i)">
            <div class="thumbnail">
              <div class="date">
                <div class="day">
                  <div *ngIf="!d?.test_test">
                     {{d?.score}}
                  </div>
                 </div>
              </div>
              <img src="/assets/gameimages/c400x400.jpg" />
            </div>
            <div class="post-content">
              <!-- <div class="category">Avaliable</div> -->
              <h1 class="title">{{d?.title}}</h1>
              <div class="details">
                <p class='platform'><i class="fa fa-check" aria-hidden="true"></i> {{d?.platform}}</p>
                <p class='genre'><i class="fa fa-check" aria-hidden="true"></i> {{d?.genre}}
                  <i class="fa fa-check" aria-hidden="true"></i> {{d?.editors_choice}}</p>
              </div>

              <div class="post-meta">
                <a routerLink='/'>
                  <button class="btn btn-success button1">Play Game
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
          <!-- End -->
        </div>

      </div>
    </div>




  </div>
</div>
