<div class="container">
  <div class="row">

    <form #myForm="ngForm" (ngSubmit)="submitform(myForm)">
      <div class="form-group col-xl-5 col-md-5 col-sm-12 col-xs-12 float-left">

        <input type="text" (keyup)="submitform(myForm)" required class="form-control" #search id="search" ngModel name="search" placeholder="Enter the text to search">
      </div>
      <div class="form-group col-xl-5 col-md-5 col-sm-12 col-xs-12 float-left">

        <select class="form-control" id="opt" ngModel name="opt">
          <option>editors_choice </option>
          <option>genre </option>
          <option>score </option>
          <option>platform </option>
          <option selected>title </option>
        </select>
      </div>
      <div class="form-group col-xl-2 col-md-2 col-sm-12 col-xs-12 float-left">
        <button class='btn btn-outline-light'>
          <i class="fa fa-sign-in" aria-hidden="true"></i> Search </button>
      </div>
    </form>
    <div class="form-group col-xl-2 col-md-2 col-sm-12 col-xs-12 float-left">
      <button class='btn btn-outline-light' (click)='getSortedValue()'>
        <i class="fa fa-sign-in" aria-hidden="true"></i> Filter by Score </button>
    </div>
    <div class="seggestion col-12">
      <div *ngFor="let ser of searchData;  let j=index">
        <p (click)='mydataSelect(myForm, j)'>{{ser}}</p>
      </div>
      <div *ngIf="searchData?.length < 1">
        <hr>
        <p>
          No results found :(
        </p>
      </div>
    </div>


  </div>
</div>




<!-- <div class="ser">
  <div class="content">


    <h1>Movie Search</h1>
    <input type="text" (keydown)="mySearch($event)" placeholder="search movies..." class="input">

  </div>

</div> -->


<div class=" h-100">
  <div class="row h-100 justify-content-center align-items-center">

    <div class="container test-cards">
      <div class="row">
        <div style="position:absolute; width:80%; height:100%; overflow:hidden;">
          <!-- <app-loadingbar [status]="loadingbarChild"></app-loadingbar> -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-3" style="margin-top:25px;" *ngFor="let d of data; let i=index">
          <!-- start -->
          <div class="post-module">
            <div class="thumbnail">
              <div class="date">
                <div class="day">
                  <div *ngIf="!d?.test_test">
                    {{d?.score}}
                  </div>
                </div>
              </div>
              <img src="/assets/gameimages/c400x400.jpg" />
            </div>
            <div class="post-content">
              <!-- <div class="category">Avaliable</div> -->
              <h1 class="title">{{d?.title}}</h1>
              <div class="details">
                <p class='platform'>{{d?.platform}}</p>
                <p class='score'>{{d?.score}}</p>
                <p class='genre'>{{d?.genre}}</p>
                <p class='editors_choice'>{{d?.editors_choice}}</p>
              </div>

              <div class="post-meta">
                <a routerLink='/test/{{d?.c_url}}/{{d?.s_url}}/{{d?.testurl}}'>
                  <button class="btn btn-success button1">Play Game
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
          <!-- End -->
        </div>

      </div>
    </div>




  </div>
</div>
